@use "./theme/tokyo-night-dark" as theme;

window.Bar {
  font-weight: bold;
  font-family: theme.$font-family;
  font-size: 20px;

  > centerbox {
    background: theme.$background;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  button {
    margin: 2px;
  }

  button.workspace-button {
    background: transparent;
    color: theme.$magenta;
    border: none;
  }

  button.focused {
    background: theme.$background;
    color: theme.$blue;
  }

  .neutral-text {
    color: theme.$base07;
    font-size: 20px;
  }

  .cpu-container {
  }

  .resource-symbol {
    margin-right: 0.5rem;
    -gtk-icon-size: 1.25rem;
  }

  .resource-load-1 {
    color: theme.$base07;
  }

  .resource-load-2 {
    color: theme.$cyan;
  }

  .resource-load-3 {
    color: theme.$green;
  }

  .resource-load-4 {
    color: theme.$yellow;
  }

  .resource-load-5 {
    color: theme.$red;
  }

  .window-display {
  }
}
